body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-container {
  font-size:xx-large;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 200px;
}

input[type="text"] {
  font-size:x-large;
  width: 500px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size:x-large;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  font-size:x-large;
  margin-top: 20px;
  font-weight: bold;
}

.staff{
  position: relative;
  background-size: contain;
}


.snote{
  background-size: contain;
  position: absolute;
  z-index: 10;
  top: 84px;
  left: 200px;
  
}


.anote{
  position: absolute;
  z-index: 10;
  top: 103px;
  left: 200px;
}

.tnote{
  position: absolute;
  z-index: 10;
  top: 193px;
  left: 200px;
}

.bnote{
  position: absolute;
  z-index: 10;
  top: 206px;
  left: 200px;
}

