body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-container {
  font-size:large;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 120px;
}

input[type="text"] {
  font-size:large;
  width: 600px;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size:large;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.ledger {
  width: 32px; /* 宽度 */
  height: 1px; /* 高度 */
  background-color: black; /* 背景颜色 */
  position: absolute;
  z-index: 10;
}

.result {
  font-size:large;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.staff{
  position: relative;
  background-size: contain;
}

.symbol{
  background-size: contain;
  position: absolute;
  z-index: 20;
}

#sharp0{top: 58px;left: 83px;}
#sharp1{top: 77px;left: 96px;}
#sharp2{top: 52px;left: 109px;}
#sharp3{top: 70px;left: 122px;}
#sharp4{top: 88px;left: 135px;}
#sharp5{top: 65px;left: 148px;}
#sharp6{top: 83px;left: 161px;}
#bsharp0{top: 214px;left: 84px;}
#bsharp1{top: 233px;left: 97px;}
#bsharp2{top: 208px;left: 110px;}
#bsharp3{top: 226px;left: 123px;}
#bsharp4{top: 244px;left: 136px;}
#bsharp5{top: 220px;left: 149px;}
#bsharp6{top: 238px;left: 162px;}

#flat0{top: 88px;left: 86px;}
#flat1{top: 69px;left: 99px;}
#flat2{top: 95px;left: 112px;}
#flat3{top: 75px;left: 125px;}
#flat4{top: 101px;left: 138px;}
#flat5{top: 82px;left: 151px;}
#flat6{top: 108px;left: 164px;}
#bflat0{top: 211px;left: 86px;}
#bflat1{top: 192px;left: 99px;}
#bflat2{top: 218px;left: 112px;}
#bflat3{top: 198px;left: 125px;}
#bflat4{top: 224px;left: 138px;}
#bflat5{top: 205px;left: 151px;}
#bflat6{top: 231px;left: 164px;}

.fb{
  font-size:large;
  position: absolute;
  top: 260px;
  left: 107px;
}

.snote{
  background-size: contain;
  position: absolute;
  z-index: 10;
  top: 84px;
  left: 200px;
  
}


.anote{
  position: absolute;
  z-index: 10;
  top: 103px;
  left: 200px;
}

.tnote{
  position: absolute;
  z-index: 10;
  top: 193px;
  left: 200px;
}

.bnote{
  position: absolute;
  z-index: 10;
  top: 206px;
  left: 200px;
}

